@import "tailwindcss";

:root {
  --background: #f5f5dc;
  --foreground: #222222;
  --red: #a52a2a;
  --gray: #a8a8a8;
  --green: #228b22;
  --yellow: #ffbf00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
}
